<div class="container py-5">
  <div class="row align-items-center">
    <div class="col-lg-8">
      <p class="font-mono text-primary text-uppercase small mb-3">Individual, couple, and family therapy</p>
      <h1 class="mb-4" style="line-height:1.15;">A safe place to <em class="text-primary fst-italic">realize the potential</em> that life offers all of us.</h1>
      <p class="lead text-body-secondary mb-4" style="max-width:520px;">Sometimes problems arise that put up roadblocks to our enjoyment of life. However, there is always a solution that can remove those roadblocks. We help to analyze the problem, find the solution, and chart a plan to implement that solution. We are here to help you along the way.</p>
      <div class="d-flex flex-wrap align-items-center mr-3">
        <a href="tel:+16092313569" class="btn btn-primary btn-lg">Call 609-231-3569 &rarr;</a>
      </div>
    </div>
    <div class="col-lg-4 d-none d-lg-flex justify-content-center">
      <img src="{{ '/assets/imgs/logo.jpg' | relative_url }}" style="width:200px;" alt="Ocean Point Counseling logo">
    </div>
  </div>
</div>
